# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# MS VSCode
.vscode
__debug_bin

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.core

*.db
*.log
*.log.*.gz

/debug
/bin
/.venv
/yarn.lock
/yarn-error.log
/VERSION

# Manpage
/man

/pkg

./cyberark
./cyberpass
./host*
./inventory*

